.OneActivityDisplay {
  margin: 20px auto;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;
}

.Creator {
  display: flex;
}

.CreatorName {
  margin-top: 7px;
}

.OneActivityAvatar {
  margin-left: 10px;
}

.Activityinfos {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.ActivityDescription {
  margin-top: 30px;
}

.ParticipantsOneActivity {
  margin-top: 30px;
}

.EachParticipantsOneActivity {
  display: flex;
  margin: 10px 0px;
}

#NameParticipants {
  font-size: 1rem;
  margin-left: 8px;
}

#CommentsContent {
  font-size: 1.3rem;
}

.DisplayComment {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 20px;
  justify-content: space-between;
}

#DeleteComment {
  text-align: end;
  font-size: 1.5rem;
  padding: 2px;
  background-color: white;
}
