:root {
  --beige: rgb(237, 230, 227);
  --black: rgb(54, 56, 46);
  --red: rgb(240, 100, 73);
  --blue: rgb(91, 195, 235);
}

body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: var(--beige);
  margin-bottom: 30px;
}

.UserPath {
  cursor: pointer;
}

#BackButton {
  background-color: var(--blue);
  min-width: 200px;
}

#BackButton:hover {
  background-color: grey;
}

.HomeLogin {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Profil Page */
.profil {
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 75%;
}

input,
textarea,
select {
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 8px;
}

/* Login and signup Page */
.LoginInput {
  margin-top: 10px;
}

a {
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--black);
  color: var(--beige);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--blue);
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
